RAPIDAPI_KEY=your_nokia_api_key_here

TWILIO_SID=your_twilio_sid_here
TWILIO_AUTH=your_twilio_auth_token_here
TWILIO_VERIFY_SERVICE=your_twilio_service_token_here

OTP_RECEIVER=your_phone_number_here (with country code, e.g., +919876543210)
